{% extends "base.html" %}

{% block content %}

<!-- ================= Hero Section ================= -->

<section class="hero">

    <div class="hero-content">

        <h1>Smart Event Management Portal</h1>

        <p>
            Create, manage and participate in college events effortlessly.
        </p>

        <div class="hero-buttons">

            <a href="{% url 'event_list' %}" >
                <button class="btn btn-success">Explore Events</button>
                
            </a>

            {% if user.is_authenticated %}

                <a href="{% url 'create_event' %}">
                    <button class="btn btn-secondary">Create Events</button>
                </a>

            {% else %}

                <a href="{% url 'register' %}" class="btn btn-secondary">
                    Register Now
                </a>

            {% endif %}

        </div>

    </div>

</section>

<!-- ================= Features ================= -->

<section class="features">

    <h2 class="section-title">
        Why Choose Us?
    </h2>

    <div class="feature-grid">

        <div class="feature-card">

            <div class="icon">📅</div>

            <h3>Create Events</h3>

            <p>
                Create and manage college events easily.
            </p>

        </div>

        <div class="feature-card">

            <div class="icon">🎟</div>

            <h3>Easy Registration</h3>

            <p>
                Register for your favourite events instantly.
            </p>

        </div>

        <div class="feature-card">

            <div class="icon">📊</div>

            <h3>Dashboard</h3>

            <p>
                Track your registrations and upcoming events.
            </p>

        </div>

    </div>

</section>

<!-- ================= Upcoming Events ================= -->

<section class="upcoming">

    <h2 class="section-title">

        Upcoming Events

    </h2>

    <div class="event-grid">

        {% for event in upcoming_events %}

        <div class="event-card">

            {% if event.banner %}

                <img
                    src="{{ event.banner.url }}"
                    alt="{{ event.title }}"
                    class="event-banner">

            {% endif %}

            <h3>{{ event.title }}</h3>

            <p>

                <strong>📅 Date:</strong>

                {{ event.event_date }}

            </p>

            <p>

                <strong>🕒 Time:</strong>

                {{ event.event_time }}

            </p>

            <p>

                <strong>📍 Venue:</strong>

                {{ event.venue }}

            </p>

            <p>

                <strong>🏷 Category:</strong>

                {{ event.category }}

            </p>

            <a href="{% url 'event_detail' event.id %}">
                <button class="btn btn-primary"> View Details</button>

               

            </a>

        </div>

        {% empty %}

        <div class="no-events">

            <h3>No Upcoming Events</h3>

            <p>

                There are no upcoming events right now.

            </p>

            {% if user.is_authenticated %}

                <a href="{% url 'create_event' %}"

                   class="btn btn-secondary">

                    Create the First Event

                </a>

            {% endif %}

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}