# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.venv/

event_portal/events/migrations
event_portal/accounts/migrations
event_portal/registrations/migrations

# Database
db.sqlite3

# Media uploads
media/

# Static files collected for production
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Django migrations cache
*.pyc