{% extends "base.html" %}

{% block content %}

<div class="form-container">

    <div class="form-card">

        <h2>Create Your Account</h2>

        <form method="POST">

            {% csrf_token %}

            {% include "components/form_field.html" with field=user_form.username %}
            {% include "components/form_field.html" with field=user_form.first_name %}
            {% include "components/form_field.html" with field=user_form.last_name %}
            {% include "components/form_field.html" with field=user_form.email %}
            {% include "components/form_field.html" with field=user_form.password %}
            {% include "components/form_field.html" with field=user_form.confirm_password %}

            {% include "components/form_field.html" with field=profile_form.phone_number %}
            {% include "components/form_field.html" with field=profile_form.department %}
            {% include "components/form_field.html" with field=profile_form.year %}

            {% if user_form.non_field_errors %}
                <div class="field-error">
                    {{ user_form.non_field_errors }}
                </div>
            {% endif %}

            <button class="btn btn-primary">
                Register
            </button>

        </form>

    </div>

</div>

{% endblock %}