{% extends "base.html" %}

{% block content %}

<div class="page-container">

    <div class="event-detail-card">

        {% if event.banner %}
            <img src="{{ event.banner.url }}" class="detail-banner">
        {% endif %}

        <div class="detail-content">
<h1>{{ event.title }}</h1>

<span class="badge badge-open">
    {{ event.get_status_display }}
</span>

<p class="detail-info">
    📅 <strong>Event Date:</strong>
    {{ event.event_date|date:"d M Y" }}
</p>

<p class="detail-info">
    🕒 <strong>Event Time:</strong>
    {{ event.event_time|time:"h:i A" }}
</p>

<p class="detail-info">
    ⏳ <strong>Registration Deadline:</strong>
    {{ event.registration_deadline|date:"d M Y, h:i A" }}
</p>

<p class="detail-info">
    📍 <strong>Venue:</strong>
    {{ event.venue }}
</p>

<p class="detail-info">
    🏷️ <strong>Category:</strong>
    {{ event.get_category_display }}
</p>

<p class="detail-info">
    👤 <strong>Organizer:</strong>
    {{ event.organizer.username }}
</p>

<p class="detail-info">
    👥 <strong>Registered:</strong>
    {{ registered_count }} / {{ event.capacity }}
</p>

<p class="detail-info">
    ✅ <strong>Seats Available:</strong>
    {{ seats_left }}
</p>

<hr>

<h3>Description</h3>

<p class="description">
    {{ event.description }}
</p>

<div class="event-actions">

{% if not user.is_authenticated %}

    <a href="{% url 'login' %}">
        <button class="btn btn-primary">Login to Register</button>
    </a>

{% elif already_registered %}
<button class="btn btn-danger" onclick="openModal()">
    Cancel Registration
</button>

{% elif event.status != "OPEN" %}

    <button class="btn btn-danger" disabled>
        Registration Closed
    </button>

{% elif seats_left == 0 %}

    <button class="btn btn-danger" disabled>
        Event Full
    </button>

{% else %}


    <a href="{% url 'register_event' event.id %}">
        <button class="btn btn-primary">Register Now</button>
    </a>

{% endif %}

    {% if user == event.organizer %}
    <a href="{% url 'edit_event' event.id %}" >
        <button class="btn btn-primary">Edit Event</button>
    </a>

        <button class="btn btn-danger" onclick="openDeleteModal()">
        Delete Event
    </button>

    {% endif %}

    
</div>
    </div>
    </div>

</div>


<div id="cancelModal" class="modal">

    <div class="modal-content">

        <h2>Cancel Registration</h2>

        <p>
            Are you sure you want to cancel your registration for
            <strong>{{ event.title }}</strong>?
        </p>

        <div class="modal-buttons">

            <form method="POST"
                  action="{% url 'cancel_registration' event.id %}">

                {% csrf_token %}

                <button type="submit" class="btn btn-danger">
                    Yes, Cancel
                </button>

            </form>

            <button class="btn btn-secondary" onclick="closeModal()">
                No
            </button>

        </div>

    </div>

</div>

<div id="deleteModal" class="modal">

    <div class="modal-content">

        <h2>Delete Event</h2>

        <p>
            Are you sure you want to permanently delete
            <strong>{{ event.title }}</strong>?
        </p>

        <p style="color:#dc3545;">
            This action cannot be undone.
        </p>

        <div class="modal-buttons">

            <form method="POST"
                  action="{% url 'delete_event' event.id %}">

                {% csrf_token %}

                <button type="submit" class="btn btn-danger">
                    Delete
                </button>

            </form>

            <button
                type="button"
                class="btn btn-secondary"
                onclick="closeDeleteModal()">

                Cancel

            </button>

        </div>

    </div>

</div>

<script>

    function openDeleteModal(){

    document.getElementById("deleteModal").style.display = "flex";
}

function closeDeleteModal(){

    document.getElementById("deleteModal").style.display = "none";
}

window.addEventListener("click", function(event){

    const modal = document.getElementById("deleteModal");

    if(event.target === modal){

        closeDeleteModal();
    }

});

function openModal(){

    document.getElementById("cancelModal").style.display = "flex";
}

function closeModal(){

    document.getElementById("cancelModal").style.display = "none";
}

window.onclick = function(event){

    const modal = document.getElementById("cancelModal");

    if(event.target === modal){

        closeModal();
    }
}

</script>

{% endblock %}