{% extends "base.html" %}

{% block content %}

<form method="GET" class="search-form">

    <input
        type="text"
        name="search"
        class="search-input"
        placeholder="Search events..."
        value="{{ search|default:'' }}"
    >
        <select name="category" class="search-select">

        <option value="">All Categories</option>

        {% for value, label in categories %}

            <option
                value="{{ value }}"
                {% if category == value %}selected{% endif %}
            >
                {{ label }}
            </option>

        {% endfor %}

    </select>

    <button type="submit" class="srch-btn btn-primary">
        Search
    </button>

</form>

<div class="events-container">

    <h1 class="page-title">Upcoming Events</h1>

    <div class="events-grid">

        {% for event in events %}

        <div class="event-card">

            <div class="event-content">

                <h3>{{ event.title }}</h3>

                <p class="event-info">
                    📅 {{ event.event_date }}
                </p>

                <p class="event-info">
                    🕒 {{ event.event_time }}
                </p>

                <p class="event-info">
                    📍 {{ event.venue }}
                </p>

                <p class="event-info">
                    👥 Capacity : {{ event.capacity }}
                </p>

                <p class="event-info">
                    🏷 {{ event.category }}
                </p>

                <div class="event-footer">

                    <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">
    View Details
</a>

                </div>

            </div>

        </div>

        {% empty %}

        <h2>No events available.</h2>

        {% endfor %}

    </div>

</div>

{% endblock %}